body{
    margin: 0;
    text-align: center;
}
.container{
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-bottom: 0;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#brand{
    font-size: 1.2rem;
    font-weight: bolder;
   font-style: italic;
}
#path{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#path-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
#name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 4rem;
}
#name:hover{
    background-color: rgb(95, 88, 88);
    padding: 3px;
    border-radius: 2px;
}
i{
    margin-right: 8px;
}
#main-logo{
   margin-left: 4rem;
    height: 4rem;
  margin-right: .8rem
}
#post{
    padding: .8rem;
    border-radius: 5px;
    background-color: brown;
    color: white;
}
.home{
   color: brown;
}
#path-div:hover{
    color: rgb(243, 11, 11);
}
#post:hover{
   background-color: rgb(243, 11, 11);
}
#waves{
   margin-top: 0;
    background-image: url(./images/soundwave.jpg);
  
    background-size: cover;
    color: beige;
}
#waves-h1{
    padding-top: 4rem;
    margin-top: 0;
    font-size: 4rem;
    margin-bottom: 0;
}
#waves-p{
    font-size: 1.5rem;
    margin-top: 0;
}
#waves-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin-bottom: 3rem;
   
}
#instruments{
    width: 15rem;
    height: 3rem;
    outline: none;
}
#what{
    width: 20rem;
    height: 3rem;
    outline: none;
}
#search{
    width: 25rem;
    height: 3rem;
    outline: none;
}
#search-btn{
    height: 3rem;
    width: 8rem;
    margin-left: 1rem;
    background-color: rgb(216, 208, 208);
    color: black;
}
#search-btn:hover{
    background-color: teal;
    color: black;
}
.add{
    margin-bottom: 2rem;
}

#add-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hotads{
    text-align: left;
    margin-left: 5rem;
}
#add-img{
    margin-left: 15rem;
}
#add-details{
    text-align: left;
    padding-left: 5rem;
    padding-right: 5rem;
}
#add-details h3{
    color: brown;
}
#add-details h4{
    padding-right: 15rem;
}
#add-btn button{
    padding: .7rem;
    border-radius: 5px;
    background-color: brown;
    color: whitesmoke;
    border-style: none;
}
#add-btn button:hover{
    background-color: rgb(243, 11, 11);
    color: white;
}
.acoustic{
    padding-top: 2rem;
    background-color: rgb(206, 197, 197);
}
.acoustic h3{
    text-align: left;
    margin-left: 3rem;
}
#acoustic-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#acoustic-card{
  margin: 2rem;
  background-color: white;
  height: 24rem;
  width: 16rem;
}
#acoustic-card>img{
    height: 15rem;
    width: 15rem;
    margin-bottom: 0;
}
#acoustic-card h4{
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    padding-left: 1rem;
   
}
#quality{
    margin-top: 0;
    color: red;
    margin-bottom: 0;
}
.plus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    color: brown;
}
#acoustic-card h5{
    margin-top: 1rem;
    text-align: left;
    padding-left: 1rem;
}
.contacts{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}
#about{
    inline-size: 27rem;
}
#about h1{
    color: brown
}
#categories h2{
    color: brown;
}
#categories h4:hover{
transform: scale(1.5);
}
#navigation h2{
    color: brown;
}
#navigation h4:hover{
    transform: scale(1.5);
}

#country-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#country-div h3{
    color: brown;
}
#country-div button{
    height: 2rem;
    width: 6rem;
    margin-left: .8rem;
    font-weight: bold;
   
}
#country-div button:hover{
    background-color: black;
    color: white;
}
.copyright{
    background-color: rgb(95, 88, 88);
    padding: 1rem;
}